<div class='panel-container'>
    <h1 i18n='welcome title|timer'>Welcome!</h1>
    <h2 i18n='timer disclaimer|timer'>The last time you accessed was</h2>
    <div class='clock'>
        <div>
            <span>{{timerData.days}}</span>
            <p i18n='days label|timer'>DAYS</p>
        </div>
        <div>
            <span>{{timerData.hours}}</span>
            <p i18n='hours label|timer'>HOURS</p>
        </div>
        <div>
            <span>{{timerData.minutes}}</span>
            <p i18n='minutes label|timer'>MINUTES</p>
        </div>
        <div>
            <span>{{timerData.seconds}}</span>
            <p i18n='seconds label|timer'>SECONDS</p>
        </div>
    </div>
    <button (click)='logOut()' i18n='logout button|timer'>Logout</button>
</div>